<main class="container my-4 d-none text-center">
  <div class="card">
    <div class="card-body">
      <h1 class="h3">Bienvenido <span id="user-email"></span></h1>
    </div>
  </div>
  <button class="btn btn-warning my-3" onclick="logout()">Logout</button>
</main>

<script>
  const token = localStorage.getItem('token');

  function logout() {
    localStorage.removeItem('token');
    window.location.href = '/';
  }

  async function verifyToken() {
    if (!token) {
      window.location.href = '/';
    } else {
      axios.defaults.headers.common['Authorization'] = localStorage.getItem("token");
      try {
        const { data } = await axios.get('/auth/user');
        document.getElementById("user-email").innerHTML = data.email;
        document.querySelector("main").classList.remove("d-none");
      } catch (err) {
        // alert(err.response.data.error);
        window.location.href = '/';
      }
    }
  }
  verifyToken();
</script>